<%- include("../partials/header.ejs")%>
<div class="row first-screen">
    <div class="container">
        <!-- <div class="col s12 login">
            <div class="center">
                <a href="/auth/google" id="download-button"
                    class="btn-large waves-effect waves-light teal lighten-1 login-button">Log
                    in met Google</a>
            </div>
        </div> -->
        <div class="col s12 header">
            <h4 class="header-text right-align">Schrijf en deel je verhalen met de wereld of hou ze persoonlijk met
                Stories
                Matter
            </h4>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">color_lens</i></h2>
                    <h5 class="center">Je uiten als mens</h5>

                    <p class="light"> Stories Matter is de beste plek om je innerlijke creativiteit de vrije loop te
                        laten gaan en te verkennen. Schrijf alles op wat je te binnen schiet, giet het in een verhaal en
                        neem
                        het op in Stories Matter.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Deel met de wereld</h5>

                    <p class="light">Deel je gedachtes, emoties en dagelijkse beslommeringen met Stories Matter. Met een
                        klik op de knop zet je je verhalen openbaar en kunnen de mensen lezen en meevoelen wat je te
                        vertellen hebt.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
                    <h5 class="center">Intiem dagboek</h5>

                    <p class="light">Wil je een intiem dagboek bijhouden waarin je alles wilt schrijven wat niet voor
                        andere ogen bestemd is? Met een klik op de knop kun je je verhalen persoonlijk houden met
                        Stories Matter</p>
                </div>
            </div>
        </div>

    </div>
</div>


<%- include("../partials/footer.ejs") %>