html {
  font-family: "Baloo Chettan 2", cursive;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 5%;
}

nav {
  margin-bottom: 1rem;
}

.first-screen {
  color: white;
  display: flex;
  align-items: center;
  background-image: url("/img/overlayed.jpg");
  width: 100%;
  height: 400px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-button {
  margin-top: 2rem;
}

.header {
  margin-top: 10%;
  text-shadow: -1.5px 1.5px black;
}

.header-text {
  margin-top: 4rem;
  line-height: 1.5;
}

#delete-form {
  display: inline;
}

.page-footer {
  margin-top: 60px;
}

i.edit {
  color: red;
  font-size: 20px;
  padding: 8px;
}

.icon-block i.material-icons {
  font-size: 60px !important;
}

p {
  line-height: 2rem;
}

.delete-message {
  margin: auto;
  padding: 0.3rem;
  border: 1px solid green;
  border-radius: 2px;
  color: green;
  font-size: 24px;
}

.annuleer {
  display: inline-block;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 780px) {
  .header {
    margin-top: 30%;
  }

  .first-screen {
    background-position: 10% 0%;
  }
}
